<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo11</title>
  <!-- <script src="https://unpkg.com/vue@next"></script> -->
  <script src="../lib/vue@3.0.4.js"></script>
</head>

<body>
  <div id="app"></div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          message: 'javascript.com'
        }
      },
      // <h2
      //   :class="message == 'javascript.com' ? 'one' : 'two'"
      //   @click="handleItemClick"
      // >
      //   {{ message }}
      // </h2>
      template: `
        <h2 v-if="message == 'javascript.com'" class="one" @click="handleItemClick">{{ message }}</h2>
        <h2 v-if="message == 'js语言'" class="two" @click="handleItemClick">{{ message }}</h2>
        <h2 v-if="message == 'bilibili'" class="three" @click="handleItemClick">{{ message }}</h2>
        `,
      methods: {
        handleItemClick() {
          this.message = this.message === 'javascript.com' ? 'bilibili' : 'javascript.com'
        }
      }
    })
    const vm = app.mount("#app")
      // console.log(vm)

      // vm.$data.message = '1234'
  </script>
  <style>
    .one {
      color: red;
    }

    .two {
      color: green;
    }

    .three {
      color: orange;
    }
  </style>
</body>

</html>
